<p id="notice"><%= notice %></p>

<h1>Seats</h1>

<table>
  <thead>
    <tr>
      <th>Seatclass</th>
      <th>Pnr</th>
      <th>Seatnumber</th>
      <th>Seattype</th>
      <th>Price</th>
      <th>Flight</th>
      <th>Booking</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seats.each do |seat| %>
      <tr>
        <td><%= seat.seatclass %></td>
        <td><%= seat.pnr %></td>
        <td><%= seat.seatnumber %></td>
        <td><%= seat.seattype %></td>
        <td><%= seat.price %></td>
        <td><%= seat.flight %></td>
        <td><%= seat.booking %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
