<%= form_with(model: flight, local: true) do |form| %>
  <% if flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% flight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :source %>
    <%= form.text_field :source %>
  </div>

  <div class="field">
    <%= form.label :destination %>
    <%= form.text_field :destination %>
  </div>

  <div class="field">
    <%= form.label :Date %>
    <%= form.date_field(:dateofflight,:order => [:year, :month, :day]) %>
  </div>

  <div class="field">
    <%= form.label :depart %>
    <%= form.time_select :depart %>
  </div>

  <div class="field">
    <%= form.label :arrive %>
    <%= form.time_select :arrive %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
