<%= render 'layouts/alerts' %>

<h1>Flights</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Source</th>
      <th>Destination</th>
      <th>Date</th>
      <th>Depart</th>
      <th>Arrive</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @flights.each do |flight| %>
      <tr>
        <td><%= flight.name %></td>
        <td><%= flight.source %></td>
        <td><%= flight.destination %></td>
        <td><%= dateformat(flight.dateofflight) %></td>
        <td><%= timeformat(flight.depart) %></td>
        <td><%= timeformat(flight.arrive) %></td>
        <td><%= link_to 'Book Flight', new_booking_path(current_user,flight) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back', root_path %>