

<h1>Airplanes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Firstseat</th>
      <th>Firstemer</th>
      <th>Firstprice</th>
      <th>Firstrow</th>
      <th>Busseat</th>
      <th>Busemer</th>
      <th>Busprice</th>
      <th>Busrow</th>
      <th>Ecoseat</th>
      <th>Ecoemer</th>
      <th>Ecoprice</th>
      <th>Ecorow</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @airplanes.each do |airplane| %>
      <tr>
        <td><%= airplane.name %></td>
        <td><%= airplane.typeofplane %></td>
        <td><%= airplane.firstseat %></td>
        <td><%= airplane.firstemer %></td>
        <td><%= airplane.firstprice %></td>
        <td><%= airplane.firstrow %></td>
        <td><%= airplane.busseat %></td>
        <td><%= airplane.busemer %></td>
        <td><%= airplane.busprice %></td>
        <td><%= airplane.busrow %></td>
        <td><%= airplane.ecoseat %></td>
        <td><%= airplane.ecoemer %></td>
        <td><%= airplane.ecoprice %></td>
        <td><%= airplane.ecorow %></td>
        <td><%= link_to 'Show', airplane %></td>
        <td><%= link_to 'Edit', edit_airplane_path(airplane) %></td>
        <td><%= link_to 'Create Flight', airplane_flight_path(airplane) %></td>
        <td><%= link_to 'Destroy', airplane, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Airplane', new_airplane_path %> |
<%= link_to 'Back', root_path %>
