<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @airplane.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @airplane.typeofplane %>
</p>

<p>
  <strong>Firstseat:</strong>
  <%= @airplane.firstseat %>
</p>

<p>
  <strong>Firstemer:</strong>
  <%= @airplane.firstemer %>
</p>

<p>
  <strong>Firstprice:</strong>
  <%= @airplane.firstprice %>
</p>

<p>
  <strong>Firstrow:</strong>
  <%= @airplane.firstrow %>
</p>

<p>
  <strong>Busseat:</strong>
  <%= @airplane.busseat %>
</p>

<p>
  <strong>Busemer:</strong>
  <%= @airplane.busemer %>
</p>

<p>
  <strong>Busprice:</strong>
  <%= @airplane.busprice %>
</p>

<p>
  <strong>Busrow:</strong>
  <%= @airplane.busrow %>
</p>

<p>
  <strong>Ecoseat:</strong>
  <%= @airplane.ecoseat %>
</p>

<p>
  <strong>Ecoemer:</strong>
  <%= @airplane.ecoemer %>
</p>

<p>
  <strong>Ecoprice:</strong>
  <%= @airplane.ecoprice %>
</p>

<p>
  <strong>Ecorow:</strong>
  <%= @airplane.ecorow %>
</p>

<%= link_to 'Edit', edit_airplane_path(@airplane) %> |
<%= link_to 'Back', airplanes_path %>
