<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @airplane.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @airplane.typeofplane %>
</p>

<p><strong>FIRST CLASS</strong></p>

<p>
  <strong>seat in a row:</strong>
  <%= @airplane.firstseat %>
</p>

<p>
  <strong>emergency row:</strong>
  <%= @airplane.firstemer %>
</p>

<p>
  <strong>base price:</strong>
  <%= @airplane.firstprice %>
</p>

<p>
  <strong>number of rows:</strong>
  <%= @airplane.firstrow %>
</p>

<p><strong>BUSINESS CLASS</strong></p>

<p>
  <strong>seat in a row:</strong>
  <%= @airplane.busseat %>
</p>

<p>
  <strong>emergency row:</strong>
  <%= @airplane.busemer %>
</p>

<p>
  <strong>base price:</strong>
  <%= @airplane.busprice %>
</p>

<p>
  <strong>number of rows:</strong>
  <%= @airplane.busrow %>
</p>

<p><strong>ECONOMY CLASS</strong></p>

<p>
  <strong>seat in a row:</strong>
  <%= @airplane.ecoseat %>
</p>

<p>
  <strong>emergency row:</strong>
  <%= @airplane.ecoemer %>
</p>

<p>
  <strong>base price:</strong>
  <%= @airplane.ecoprice %>
</p>

<p>
  <strong>number of rows:</strong>
  <%= @airplane.ecorow %>
</p>

<%= link_to 'Edit', edit_airplane_path(@airplane) %> |
<%= link_to 'Back', airplanes_path %>
